@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --clr-text: rgb(0, 23, 37);
    --clr-blue: rgb(0, 116, 185);
    --clr-green: rgb(50, 179, 78);
    --clr-yellow: rgb(255, 212, 73);
    --clr-black: rgb(17, 17, 17);
    --clr-white: rgb(255, 255, 255);
    --clr-hover: rgb(170, 209, 232);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html {
    color: var(--clr-text);
    line-height: 1.5;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: #f7f7f8;
}

main {
    width: min(1200px, 95%);
    margin: 3rem 0;
}

.head {
    h1 {
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 1.25rem;
    }

    p {
        width: 33ch;
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 1px;
        margin-bottom: 2.5rem;
    }
}

.impact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;

    h2 {
        font-size: 2.3rem;
        font-weight: 700;
        margin-bottom: 1.25rem;
    }

    h2 + p {
        letter-spacing: -0.5px;
    }
}

.container:not(.impact__breadth .container:last-of-type) {
    margin-bottom: 1rem;
}

.stats {
    display: inline-block;
    color: var(--clr-white);
    font-size: 2.75rem;
    font-weight: 800;
    font-variant-numeric: tabular-nums;
    line-height: 1;
    border-radius: 20px;
    background: var(--clr-blue);
    padding: .7rem;
    margin-bottom: .5rem;
}

.stats--green {
    color: var(--clr-black);
    background: var(--clr-green);
}

.stats--yellow {
    width: 100%;
    text-align: center;
    letter-spacing: -.5px;
    color: var(--clr-black);
    background: var(--clr-yellow);
    padding: .5rem 0;
}

.text--width {
    width: max(90%, 80%);
}

.stats--text-lg {
    font-size: 4rem;
}

.stats--text-md {
    font-size: 3.25rem;
}

.stats + p,
.impact__durability .container p:last-of-type {
    font-size: 1.05rem;
    font-weight: 700;
}

.impact__durability-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .stats__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        p:last-child {
            font-size: .8rem;
        }
    }
}

button {
    cursor: pointer;
    max-width: 180px;
    font-size: 1rem;
    font-weight: 800;
    border: 2px solid var(--clr-black);
    border-radius: 10px;
    box-shadow: 3px 4px 0 var(--clr-black);
    background: var(--clr-white);
    padding: .75rem 0;

    &:hover {
        background: var(--clr-hover);
    }
}

@media (width <= 768px) {
    .head p {
        width: 35ch;
        font-size: 1.6rem;
    }
    .impact {
        display: block;
        h2 {
            font-size: 1.7rem;
        }
    }
    .impact__breadth {
        margin-bottom: 2rem;
    }
    .stats--text-lg {
        font-size: 2.75rem;
    }
    .stats--text-md {
        font-size: 2.1rem;
    }
    .stats + p,
    .impact__durability .container p:last-of-type {
        font-size: 1rem;
    }
    button {
        margin-top: 2rem;
        padding: .7rem 1rem .7rem .75rem;
    }
}

@media (768px < width <= 1280px) {
    .head {
        max-width: 65%;
    }

    .stats--text-lg {
        font-size: 3.2rem;
    }

    .stats--text-md {
        font-size: 2.75rem;
    }
}